{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->


</head>
<body>
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-60 p-r-60 p-t-60 p-b-60">
				<p style="font-size:65px;float:left;width:32%; ">&#128269;</p>
			<h1>Question Repository</h1>
			<br>
			<h6>An online portal wherein you can ask or answer questions pertaining to a particular topic. 

			</h6>
			<div class="container-login100-form-btn p-t-25" style="float:left;width:46%;">
				<a class="login100-form-btn" href="{% url 'loginpage' %}" >
					Login
					</a>
			</div>
			<div class="container-login100-form-btn p-t-25" style="float:right;width:46%;">
				<a class="login100-form-btn" href="{% url 'register' %}" >
					Register
					</a>
			</div>
			<style>a:hover {
				text-decoration: none;
			  color: #fff;
			}</style>
			
			
    </div>
</div>




<!--===============================================================================================-->	
<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>