
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<style>
	.xyz{ 
	   width: 80%;
	   height:120px;
	   border: 1px solid black;
	   border-radius: 10px;
	   padding: 10px;
	   margin-left: 20px;
	   margin-bottom: 20px;
	}
	.topnav {
		background: linear-gradient(to bottom, #0250c5, #d43f8d);
		overflow: hidden;
	  }
	</style>
	
</head>
<body>
		<div class="topnav">
            <h2 style="color:white;margin-left: 1em;"><br><br>Meet And Greet &#127914<h2>
				<div class="container-login100-form-btn p-l-40 p-r-30 p-t-0 p-b-5" style="float:right;width:14%;height:10px">
					<a class="login100-form-btn" href="{% url 'logoutpage' %}"style="background-color:#C0C0C0;" >
						Logout
						</a>
				</div>
				<div class="container-login100-form-btn p-l-40 p-r-30 p-t-0 p-b-10" style="float:right;width:14%;">
					<a class="login100-form-btn" href="{% url 'addevent' %}"style="background-color:#C0C0C0;" >
						Add an Event
						</a>
				</div>
				<div class="container-login100-form-btn p-l-40 p-r-30 p-t-0 p-b-10" style="float:right;width:14%;">
					<a class="login100-form-btn" href="{% url 'profile' %}"style="background-color:#C0C0C0;" >
						Profile
						</a>
				</div>
			</div>
				<br>
				<br>
				<br>
				<H4 style="color:black;margin-left: 0.6em;font-size:xx-large;">Trending Events:</H4> 

				<br>
				
				{% for q in ques %}
				<div class="xyz">
					<h5>&#10097; {{ q.text }}</a></h5>
					
					<div class="container-login100-form-btn p-l-40 p-r-30 p-t-0 p-b-10" style="float:right;width:17%;">
						
						<a class="login100-form-btn" href="#"style="background-color:#C0C0C0;">
							Attend
							</a>
					</div>
					
					<h6>
						<font size="2" color="grey">Added: {{ q.date_asked }}</font>
					</h6>
					<br>
				</div>
				{% endfor %}
			
			<style>a:hover {
				text-decoration: none;
			  color: #fff;
			}</style>
        </div>
    </div>
</div>
</body>
</html>